body{
    margin: 0;
    padding: 0;
}

p{
    font-size: 30;
    text-align: center;
}

.btn {
    padding: 7px 20px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: rgb(255, 244, 244);
    cursor: pointer;
    transition: box-shadow 0.5s;

    display: block;
    margin: 0 auto;
}

.btn:hover {
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 255, 0.644);
}

.succes{
    background-color: green;
}

.succes{
    background-color: green;
}

.error{
    background-color: red;
}

.alert {
    background-color: blue;
}

/* =================================================== */

#sales-chart {
    margin-top: 50px;
    background-color: aliceblue;
}
